html{
    background-color: aqua
}

body{
    font-family: Calibri;
    margin: 1rem auto;
    width: 8in;
    padding-bottom: 0%;
    background-color: white;
}


form{
    background-color: #CBFBC5;
    text-align: left;
    font-size: 24px;
    border-style: solid;
    border-color: green;
    padding-top: 3%;
    padding-left: 3%;
    padding-bottom: 8%;
    PADDING-RIGHT: 3%

}

input{
    height: 24px;
    width: 90%;
}

button{
    background-color: white;
    float: right;
}

button.liked {
    background-color: lightgreen;
}


button.disliked {
    background-color: lightcoral;
}

h1{
    background-color: #009e60;
    text-align:center;
    font-size: 60px
}

h2{
    text-align: center;
    font-size: 24px;
    background-color: #009e60;

}

footer{
    background-color: #009e60;
    text-align: right;
    padding-top: 3%;
    padding-bottom: 2%;
    padding-right: 2%;
}

li{
    background-color: #CBFBC5;
    border-style: solid;
    border-color: gray;
    list-style-type: none;
    padding-bottom: 2%;
    margin-bottom: 3%;
    padding-left: 2%;
    padding-right: 2%;
}

h3 {
    font-size: 36px;
    margin-block: 1%
}

p{
    font-size: 24px;
    margin-left: 4%;
    margin-right: 4%;
}


li.a {
    font-size: 12px;
}